Node-Red/Node-Red-Flow.txt

[
    {
        "id": "791fbaa9.21bbc4",
        "type": "mqtt out",
        "z": "67760e6c.fd943",
        "name": "Livingroom Lamp",
        "topic": "smartthings/Lamp/level",
        "qos": "",
        "retain": "",
        "broker": "f3c90cd5.c2927",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "684ddb70.cc4244",
        "type": "mqtt out",
        "z": "67760e6c.fd943",
        "name": "Living Room Torchere",
        "topic": "smartthings/Living Room Torchere/level",
        "qos": "",
        "retain": "",
        "broker": "f3c90cd5.c2927",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "3efb4b26.61d0e4",
        "type": "mqtt out",
        "z": "67760e6c.fd943",
        "name": "Fireplace",
        "topic": "smartthings/Fireplace/level",
        "qos": "",
        "retain": "",
        "broker": "f3c90cd5.c2927",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "aa42a08a.db8c5",
        "type": "mqtt out",
        "z": "67760e6c.fd943",
        "name": "Candle 1",
        "topic": "smartthings/Candle One/level",
        "qos": "",
        "retain": "",
        "broker": "f3c90cd5.c2927",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "76377b79.021274",
        "type": "mqtt out",
        "z": "67760e6c.fd943",
        "name": "Candle 2",
        "topic": "smartthings/Candle Two/level",
        "qos": "",
        "retain": "",
        "broker": "f3c90cd5.c2927",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "82b361be.184ca",
        "type": "serial in",
        "z": "67760e6c.fd943",
        "name": "DMX",
        "serial": "2a178539.e8a41a",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "4d18718b.4d48b"
            ]
        ]
    },
    {
        "id": "4d18718b.4d48b",
        "type": "csv",
        "z": "67760e6c.fd943",
        "name": "dmx",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "DMX1,DMX2,DMX3,DMX4,DMX5,DMX6,DMX7,DMX8,DMX9",
        "skip": "0",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "fbfcf068.d9ff7",
                "7cda534.43638ac",
                "6ea62191.23b69",
                "ef425b73.3885b8",
                "fa7f4f73.4936a"
            ]
        ]
    },
    {
        "id": "fbfcf068.d9ff7",
        "type": "function",
        "z": "67760e6c.fd943",
        "name": "DMX1",
        "func": "msg.payload = msg.payload[0].DMX1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "fc9df25e.e4dac"
            ]
        ]
    },
    {
        "id": "fc9df25e.e4dac",
        "type": "range",
        "z": "67760e6c.fd943",
        "minin": "0",
        "maxin": "255",
        "minout": "1",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "fcbb0154.39ef8"
            ]
        ]
    },
    {
        "id": "fcbb0154.39ef8",
        "type": "throttle",
        "z": "67760e6c.fd943",
        "name": "",
        "throttleType": "time",
        "timeLimit": "300",
        "timeLimitType": "milliseconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "3efb4b26.61d0e4"
            ]
        ]
    },
    {
        "id": "7cda534.43638ac",
        "type": "function",
        "z": "67760e6c.fd943",
        "name": "DMX2",
        "func": "msg.payload = msg.payload[0].DMX2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "10eae889.57b637"
            ]
        ]
    },
    {
        "id": "10eae889.57b637",
        "type": "range",
        "z": "67760e6c.fd943",
        "minin": "0",
        "maxin": "255",
        "minout": "1",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "940ab315.1e6e1"
            ]
        ]
    },
    {
        "id": "940ab315.1e6e1",
        "type": "throttle",
        "z": "67760e6c.fd943",
        "name": "",
        "throttleType": "time",
        "timeLimit": "300",
        "timeLimitType": "milliseconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "791fbaa9.21bbc4"
            ]
        ]
    },
    {
        "id": "6ea62191.23b69",
        "type": "function",
        "z": "67760e6c.fd943",
        "name": "DMX3",
        "func": "msg.payload = msg.payload[0].DMX3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "9a5af3d3.2f03e"
            ]
        ]
    },
    {
        "id": "9a5af3d3.2f03e",
        "type": "range",
        "z": "67760e6c.fd943",
        "minin": "0",
        "maxin": "255",
        "minout": "1",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "283a82b.991b37e"
            ]
        ]
    },
    {
        "id": "283a82b.991b37e",
        "type": "throttle",
        "z": "67760e6c.fd943",
        "name": "",
        "throttleType": "time",
        "timeLimit": "300",
        "timeLimitType": "milliseconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "684ddb70.cc4244"
            ]
        ]
    },
    {
        "id": "ef425b73.3885b8",
        "type": "function",
        "z": "67760e6c.fd943",
        "name": "DMX4",
        "func": "msg.payload = msg.payload[0].DMX4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "e69dc090.5f485"
            ]
        ]
    },
    {
        "id": "e69dc090.5f485",
        "type": "range",
        "z": "67760e6c.fd943",
        "minin": "0",
        "maxin": "255",
        "minout": "1",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 470,
        "y": 580,
        "wires": [
            [
                "524519e.4a9a9e8"
            ]
        ]
    },
    {
        "id": "524519e.4a9a9e8",
        "type": "throttle",
        "z": "67760e6c.fd943",
        "name": "",
        "throttleType": "time",
        "timeLimit": "300",
        "timeLimitType": "milliseconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "aa42a08a.db8c5"
            ]
        ]
    },
    {
        "id": "fa7f4f73.4936a",
        "type": "function",
        "z": "67760e6c.fd943",
        "name": "DMX5",
        "func": "msg.payload = msg.payload[0].DMX5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "841f5e01.478ff"
            ]
        ]
    },
    {
        "id": "841f5e01.478ff",
        "type": "range",
        "z": "67760e6c.fd943",
        "minin": "0",
        "maxin": "255",
        "minout": "1",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 490,
        "y": 640,
        "wires": [
            [
                "c5ebf76a.37fca8"
            ]
        ]
    },
    {
        "id": "c5ebf76a.37fca8",
        "type": "throttle",
        "z": "67760e6c.fd943",
        "name": "",
        "throttleType": "time",
        "timeLimit": "300",
        "timeLimitType": "milliseconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "76377b79.021274"
            ]
        ]
    },
    {
        "id": "f3c90cd5.c2927",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "2a178539.e8a41a",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]